@import "../utils/variables";
@import "../utils/mixins";

.container-table{
    margin: 3% 3%;
}

.main-button {
    background-color: $green;
    height: fit-content;
    @include mainbutton;
}
.second-button {
    background-color: transparent;
    @include secondbutton;
}

.table_logo {
    width: 110px;
}

.numberList {
    padding: 5px;
}

.number-page {
    margin-top: 20px;
    &_list {
        cursor: pointer;
        padding: 5px 10px;
        margin: 5px;
        border-radius: 5px;
    }
}

.number-page_list:hover {
    background-color: $green;
    color: white;
}