@import "../utils/variables";

table {
  border-radius: 1em;
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
}

table td,
table th {
  border-right: 1px solid $grey2;
  border-left: 1px solid $grey2;
  padding: 8px;
}

table td {
  color: $black;
}

table tr:nth-child(even) {
  background-color: #F7F7F7;
}

table tr:hover {
  background-color: $grey2;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: $green;
  color: $white;
}
